.Item {
  display: flex;
  justify-content: flex-start;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  
}

.Item-actions button{
  width: 74px;
  color: #000;
  font-size: 13px;
}

.Item-price {
  color: #404040;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.Item-price span{
  margin-left: 6px;
}

.Item-price.cart{
  margin-right: 62px;
}

.Item-count {
  padding: 20px 0px 20px 0px;
  display: flex;
  margin-right: 15px;
  color: #404040;

}

.Item-count span{
	margin-left: 3px;
}
